<ul>
    <li><a href="/extensions/userrole/">Start</a></li>
    <li><a href="/extensions/userrole/addrole">tilføj rolle</a></li>
    <li><a href="/extensions/userrole/removerole">Fjern rolle</a></li>
</ul>
<hr />

<h2>Tilføj til rolle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Save" />
}
@ViewBag.Message